<div class="row">
  <div class="span6 offset1">
    <br>
    <h1>Ed Solis</h1><br>
    <h3>
      Full-stack<br>
      Ruby on Rails and JavaScript<br>
      Web Developer
    </h3><br>
    <h4>San Francisco, CA</h4><br>
  </div>

  <div class="span5">
    <img src="https://s3-us-west-1.amazonaws.com/edsfoci/378844a.jpg"
                              alt="Self-portrait" width='300px' height='300px'>
  </div>
</div>

<div class="row big-height">
  <div class="span11 offset1">
    <b>Experience</b><br>
  </div>

  <i>
    <div class="span6 offset1">Robotics Club at UCLA</div>
    <div class="span5" align="right">Los Angeles, CA</div><br>
    <div class="span6 offset1">President</div>
    <div class="span5" align="right">July 2011 - April 2012</div>
  </i><br>

  <div class="span11 offset1" align="justify">
    <p>
      Trained the future leaders of the club and contributed to ongoing robotics projects. Constructed the chassis and supervised designs of mechanical and electrical systems for robotics projects. Utilized ROS (Robot Operating System) with C++ and Python, Arduino IDE, LabVIEW, and SolidWorks.
    </p>
  </div>

  <i>
    <div class="span6 offset1">US Army</div>
    <div class="span5" align="right">United States, Germany, Iraq</div><br>
    <div class="span6 offset1">Satellite Communications Technician</div>
    <div class="span5" align="right">August 2001 - December 2006</div>
  </i><br>

  <div class="span11 offset1" align="justify">
    <p>
      Set up and maintained electronic equipment to send and receive data from military-controlled communications satellites. Provided communications in a combat zone and trained to troubleshoot equipment quickly and efficiently. Utilized multiplexers, modems, RF equipment, and spectrum analyser.
    </p>
  </div>

  <div class="span11 offset1">
    <b>Education</b><br>
  </div>


    <div class="span6 offset1">University of California, Los Angeles</div>
    <div class="span5" align="right">Los Angeles, CA</div><br>
    <div class="span6 offset1">Mechanical Engineering</div>
    <div class="span5" align="right"><p>2010 - 2013</p></div>

    <div class="span6 offset1"><b>Code Samples</b></div>
    <div class="span5" align="right">
      <a href="https://github.com/edsfocci">https://github.com/edsfocci</a>
    </div><br>
    <div class="span5 offset1">Hangman</div>
    <div class="span6" align="right">Object-oriented Ruby; AI uses dictionary strategically</div><br>
    <div class="span3 offset1">Rails Lite</div>
    <div class="span8" align="right">Rebuilt basic Rails. Active Record implemented with metaprogramming</div><br>
    <div class="span3 offset1">Snake</div>
    <div class="span8" align="right">jQuery implementation of Snake in the browser</div><br>
    <div class="span3 offset1">Todo App</div>
    <div class="span8" align="right"><p>Single-page Backbone.js app</p></div>

  <div class="span11 offset1">
    <b>Live Projects</b><br>
  </div>

    <div class="span6 offset1">Snake:</div>
    <div class="span5" align="right"><p>
      <a href="http://s5.comli.com/snake.html">http://s5.comli.com/snake.html</a>
    </p></div>

  <div class="span11 offset1">
    <b>Skills</b><br>
  </div>
  <div class="span11 offset1" align="justify">
    <p>
      Ruby on Rails, SQL, JavaScript, HTML, jQuery, Ajax, Backbone.js, Linux, C++, Arduino, LabVIEW, SolidWorks
    </p>
  </div>
</div>